.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.iml

.idea/
#.idea/modules.xml
#.idea/vcs.xml
#.idea/gradle.xml
#.idea/misc.xml
#.idea/codeStyleSettings.xml

app/src/main/java/com/dot3digital/framework/beaconing/BeaconService.java
